@tailwind base;
@tailwind components;
@tailwind utilities;

.outer::-webkit-scrollbar{
  width: 8px;
}
.outer::-webkit-scrollbar-track{
    border-radius: 8px;
}
.outer::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(139, 121, 103);
}

.outer{
  height: 600px;
}