@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;;500;800&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}

.outer::-webkit-scrollbar{
  width: 8px;
}
.outer::-webkit-scrollbar-track{
    border-radius: 8px;
}
.outer::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(139, 121, 103);
}

.outer{
  height: 600px;
}